.landingPageContainer {
    width:100vw;
    height:100vh;
    background: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
.landingPageContainer nav {
padding-inline: 1.0rem;
padding-block: 1.0rem;
display: flex;
justify-content: space-between;
align-items: center;

}
.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;

}
.landingPageContainer nav .navlist{
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
.landingMainContainer{
 display: flex;
 justify-content: space-between;
 padding-inline:3rem ;
height: 80vh;
align-items: center;
}
.landingMainContainer >div:nth-child(1){
font-size: 1.5rem;
}

.landingMainContainer > div:nth-child(1) div[role='button']{
background-color: #d97500;
width: fit-content;
padding: 1rem;
border-radius: 20px;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a{

  text-decoration: none;
  color: white;
}


.landingMainContainer >div:nth-child(2) img{
height: 70vh;
width: auto;
}
